{% if settings.header-promo and settings.header-promo-text != blank %}
  <div class="header-promo-wrapper" id="hdr1">
    <div class="wow lightSpeedIn header-promo">
      {% comment %}
      <span style="height: 36px; vertical-align: middle; display: inline-block;">
      <img src="{{ 'christmas_tree_cookie.png' | asset_url}}" style="height: 20px; vertical-align: middle; padding: 0px 5px 0px 5px;"/>
      </span>
      {% endcomment %}
      
      <span class="header-promo-text" style="font-size: 17pt; font-weight: 700;">{{ settings.header-promo-text }}</span>
      
      {% comment %}
      <span style="height: 36px; vertical-align: middle; display: inline-block;">
      <img src="{{ 'christmas_tree_cookie.png' | asset_url}}" style="height: 20px; vertical-align: middle; padding: 0px 5px 0px 5px;"/>
      </span>
      {% endcomment %}
    </div>
  </div>
{% endif %}
{% comment %}
<div class="header-promo-wrapper" id="hdr2"  style="color: #FFFFFF; text-align: center;font-weight: 600;background-color: #fff;font-size: 1.1em;background: linear-gradient(to bottom, #2d2d2d 0%, #141414 99%, #727272 100%);padding: 5px;">
	<span style="height: 36px; vertical-align: middle; display: inline-block;">
    <img src="{{ 'shipping_truck_16.png' | asset_url}}" style="height: 20px; vertical-align: middle; padding: 0px 5px 0px 5px;"/>
    </span>
  	Free shipping on all orders in the United States!
</div>
{% endcomment %}
<div class="header-promo-wrapper" id="hdr3">
    <div class="header-promo">
      <table style="border: 0; width: 100%; color: white; padding: 0px; margin: 0px;">
        <tbody>
          <tr>
            <td style="width: 50%; text-align: left; padding: 0px;border: 0px;">
              <script>
                  //Telephone
                  function teltmExpand()
                  {
                      document.getElementById('teltm').style.color='#FFFFFF';
                      document.getElementById('teltm').innerHTML='<img src="{{ 'Phone_receiver_16.png' | asset_url }}" style="vertical-align: middle; -webkit-filter: brightness(5); filter: brightness(5);" title="Call Us" alt="Phone"/> ';
                      var _0xd3da=["\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x74\x65\x6C\x74\x6D","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x31\x2D\x38\x30\x30\x2D\x36\x39\x32\x2D\x36\x34\x35\x39","\x68\x72\x65\x66","\x74\x65\x6C\x3A\x31\x2D\x38\x30\x30\x2D\x36\x39\x32\x2D\x36\x34\x35\x39"];
                      document[_0xd3da[2]](_0xd3da[1])[_0xd3da[0]]+=_0xd3da[3];document[_0xd3da[2]](_0xd3da[1])[_0xd3da[4]]=_0xd3da[5];
                  }

                  function teltmCollapse()
                  {
                      document.getElementById('teltm').style.color='#a741d7';
                      document.getElementById('teltm').innerHTML='<img src="{{ 'Phone_receiver_16.png' | asset_url }}" style="vertical-align: middle;" title="Call Us" alt="Phone"/> ';
                      document.getElementById('teltm').href='/pages/contact-us';
                  }

                  //Email
                  function emailtmExpand()
                  {
                      document.getElementById('emailtm').style.color='#FFFFFF';
                      document.getElementById('emailtm').innerHTML='<img src="{{ 'At_sign_16.png' | asset_url }}" style="vertical-align: middle; -webkit-filter: brightness(5); filter: brightness(5);" title="Email Us" alt="Email"/> ';
                      var _0x6161=["\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x65\x6D\x61\x69\x6C\x74\x6D","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x73\x75\x70\x70\x6F\x72\x74\x40\x79\x6F\x75\x72\x70\x62\x66\x72\x69\x65\x6E\x64\x2E\x63\x6F\x6D","\x68\x72\x65\x66","\x6D\x61\x69\x6C\x74\x6F\x3A\x73\x75\x70\x70\x6F\x72\x74\x40\x79\x6F\x75\x72\x70\x62\x66\x72\x69\x65\x6E\x64\x2E\x63\x6F\x6D\x3F\x53\x75\x62\x6A\x65\x63\x74\x3D\x47\x65\x6E\x65\x72\x61\x6C\x25\x32\x30\x51\x75\x65\x73\x74\x69\x6F\x6E"];
                      document[_0x6161[2]](_0x6161[1])[_0x6161[0]]+=_0x6161[3];document[_0x6161[2]](_0x6161[1])[_0x6161[4]]=_0x6161[5];
                  }

                  function emailtmCollapse()
                  {
                      document.getElementById('emailtm').style.color='#a741d7';
                      document.getElementById('emailtm').innerHTML='<img src="{{ 'At_sign_16.png' | asset_url }}" style="vertical-align: middle;" title="Email Us" alt="Email"/> ';
                      document.getElementById('emailtm').href='/pages/contact-us';
                  }

                  //Address
                  function addresstmExpand()
                  {
                      document.getElementById('addresstm').style.color='#FFFFFF';
                      document.getElementById('addresstm').innerHTML='<img src="{{ 'Placeholder_on_map_paper_in_perspective_16.png' | asset_url }}" style="vertical-align: middle; -webkit-filter: brightness(5); filter: brightness(5);" title="Visit Us" alt="Address"/> ';
                      var _0x4424=["\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x61\x64\x64\x72\x65\x73\x73\x74\x6D","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x33\x37\x33\x31\x30\x20\x43\x65\x64\x61\x72\x20\x42\x6C\x76\x64\x20\x53\x74\x65\x20\x46\x20\x4E\x65\x77\x61\x72\x6B\x2C\x20\x43\x41\x20\x39\x34\x35\x36\x30"];
                      document[_0x4424[2]](_0x4424[1])[_0x4424[0]]+=_0x4424[3];
                      document.getElementById('addresstm').href='https://www.google.com/maps/place/YourPBfriend/@37.5404612,-122.0209166,17z/data=!4m7!1m4!3m3!1s0x808fbf0dfcb28611:0x49b29e01110cbb30!2s37310+Cedar+Blvd,+Newark,+CA+94560!3b1!3m1!1s0x0000000000000000:0xf4a42d867002827e';
                  }

                  function addresstmCollapse()
                  {
                      document.getElementById('addresstm').style.color='#a741d7';
                      document.getElementById('addresstm').innerHTML='<img src="{{ 'Placeholder_on_map_paper_in_perspective_16.png' | asset_url }}" style="vertical-align: middle;" title="Visit Us" alt="Address"/> ';
                      document.getElementById('addresstm').href='/pages/contact-us';
                  }
              </script>
              {% comment %} Phone {% endcomment %}
              <a href="/pages/contact-us" title="Call Us" style="color: #a741d7;" id="teltm" onmouseover="teltmExpand()" onmouseout="setTimeout(teltmCollapse, 15000);" onblur="setTimeout(teltmCollapse, 15000);"><img src="{{ 'Phone_receiver_16.png' | asset_url }}" style="vertical-align: middle;" title="Call Us" alt="Phone"/> </a> &nbsp; 
              {% comment %} Email {% endcomment %}
              <a href="/pages/contact-us" title="Email Us" style="color: #a741d7;" id="emailtm" onmouseover="emailtmExpand()" onmouseout="setTimeout(emailtmCollapse, 15000);" onblur="setTimeout(emailtmCollapse, 15000);"><img src="{{ 'At_sign_16.png' | asset_url }}" style="vertical-align: middle;" title="Email Us" alt="Email"/> </a> &nbsp;
              {% comment %} Address {% endcomment %}
              <a href="/pages/contact-us" title="Visit Us" style="color: #a741d7;" id="addresstm" onmouseover="addresstmExpand()" onmouseout="setTimeout(addresstmCollapse, 15000);" onblur="setTimeout(addresstmCollapse, 15000);"><img src="{{ 'Placeholder_on_map_paper_in_perspective_16.png' | asset_url }}" style="vertical-align: middle;" title="Visit Us" alt="Address"/> </a>
            </td>
            <td style="width: 50%; text-align: right; padding: 0px; border: 0px;">
              <div class="tradenow">
                <div class="freeshipping">
					<img src="{{ 'shipping_truck_16.png' | asset_url}}" style="vertical-align: middle; padding: 0px 5px 0px 5px;" alt="Free shipping in the US!" title="Free shipping in the US!"/>
                  	<span style="height: 100%; vertical-align: middle; display: inline-block;">
    					Free U.S. shipping!
    				</span>
      			</div>
                {% comment %}<span class="tradenowtxt"></span>{% endcomment %}<a href="/pages/trade-in/" title="Trade Now"><input type="button" value="Trade Now" class="wow bounce" data-wow-duration="1.5s" data-wow-iteration="4"/></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div class="main-header-wrapper" id="headerArea">
  <header class="main-header clearfix" role="banner" style="z-index: 2;">
    <div class="tools">
                  {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                    <a href="/account">{{ 'customers.account.title' | t }}</a>
                  {% else %}
                    {{ 'customers.account.title' | t | customer_login_link }}
                  {% endif %}
				{% endif %}
              <div class="header-tools">
                <a class="cart-count {% if cart.item_count < 100 %}contain-count{% endif %}" href="/cart">
                  <span class="bag-count">{{ cart.item_count }}</span>
                  <span class="bag-text">{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}</span>
                </a>
                {% if settings.enable-currency-switcher %}
                  <div class="select-wrapper currency-switcher">
                    <div class="selected-currency"></div>
                    <select id="currencies" name="currencies">
                      {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
                      {% assign supported_codes = settings.currency-switcher-supported-currencies | split: ' ' %}
                      <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
                      {% for code in supported_codes %}
                        {% if code != shop.currency and codes contains code %}
                          <option value="{{ code }}">{{ code }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}
              </div>
    </div>
    <div class="branding wow bounceInDown">
      {% if settings.use-logo %}
      	{% if template == 'index' %}<h1 style="margin: 0px; padding: 0px;">{% endif %}
        <a class="logo {% if settings.use-retina-logo %}has-retina{% endif %}" href="/">
          <img class="logo-regular" alt="{{ shop.name | escape }}" src="{{ 'logo.png' | asset_url }}">
          {% if settings.use-retina-logo %}
            <img class="logo-retina" alt="{{ shop.name | escape }}" src="{{ 'logo-retina.png' | asset_url }}">
          {% endif %}
        </a>
      	{% if template == 'index' %}</h1>{% endif %}
      {% else %}
        {% if template contains 'index' %}
          <h1 class="site-title">{{ shop.name }}</h1>
        {% else %}
          <div class="site-title"><a href="/">{{ shop.name }}</a></div>
        {% endif %}
      {% endif %}
    </div>
    <form class="header-search-form wow bounceInDown" action="/search" method="get" id="searchForm">
      <input autofocus class="header-search-input" name="q" type="text" style="color: grey;"/>
    </form>
    <script>
      {% comment %}
        if(today >= December1st && today < NewYearsEve)// If it is past the 1st but not after new years eve
        {
        	document.getElementById('searchForm').innerHTML = '<input autofocus class="header-search-input" name="q" type="text" placeholder="Merry Christmas!"/>';
        }
        else if(today >= NewYearsEve && today < WeekAfterNY) // If it is New Years Day but not a week after NY
        {
			document.getElementById('searchForm').innerHTML = '<input autofocus class="header-search-input" name="q" type="text" placeholder="Happy New Year!"/>';
        }
        else
        {
			document.getElementById('searchForm').innerHTML = '<input autofocus class="header-search-input" name="q" type="text"/>';
        }
      {% endcomment %}
      document.getElementById('searchForm').innerHTML = '<input autofocus class="header-search-input" name="q" type="text" placeholder="What are you looking for?"/>';
    </script>
    <div class="mobile-header-tools">
      <span class="mobile-header-search-toggle">&#57346;</span>
      <a class="mobile-cart-count {% if cart.item_count < 100 %}contain-count{% endif %}" href="/cart">&#57348; <span class="bag-count">{{ cart.item_count }}</span></a>
      <span class="mobile-navigation-toggle"><span></span></span>
    </div>
    <nav class="navigation">
      <ul class="navigation-first-tier">
        {% for link in linklists.main-menu.links %}
          {% if link.handle == 'mega-nav' %}
            {% include 'mega-navigation' %}
          {% else %}
            {% include 'has-dropdown' %}
            <li class="{% if has-dropdown %}has-dropdown{% endif %} regular-nav">
              <a href="{{ link.url }}">{{ link.title }} {% if has-dropdown %}<span class="mobile-tier-toggle"></span>{% endif %}</a>
              {% if has-dropdown %}
                <ul class="navigation-second-tier">
                  {% for link in linklists[link_handle].links %}
                    {% include 'has-dropdown' %}
                    <li class="{% if has-dropdown %}has-dropdown{% endif %}">
                      <a href="{{ link.url }}">{{ link.title }} {% if has-dropdown %}<span class="mobile-tier-toggle"></span>{% endif %}</a>
                      {% if has-dropdown %}
                        <ul class="navigation-third-tier">
                          {% for link in linklists[link_handle].links %}
                            {% include 'has-dropdown' %}
                            <li class="{% if has-dropdown %}has-dropdown{% endif %}">
                              <a href="{{ link.url }}">{{ link.title }} {% if has-dropdown %}<span class="mobile-tier-toggle"></span>{% endif %}</a>
                              {% if has-dropdown %}
                                <ul class="navigation-fourth-tier">
                                  {% for link in linklists[link_handle].links %}
                                    <li>
                                      <a href="{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
</div>