{% if collections[settings.home-featured-products].products.size > 0 %}
  <div class="home-module home-featured-products rows-of-{{ settings.home-featured-products-per-row }}">
    <div class="home-module-content">

      {% if settings.home-featured-products-title != blank %}
        <a href="{{ collections[settings.home-featured-products].url }}"><h4 class="section-title">{{ settings.home-featured-products-title }}</h4></a>
      {% endif %}

      <div class="home-featured-products-list collection-products uniform-layout {{settings.collection-product-text-style}}-style">
        {% for product in collections[settings.home-featured-products].products limit: settings.home-featured-products-max %}
          {% include 'product-list-item' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="home-module home-featured-products rows-of-3">
    <div class="home-module-content">

      <h4 class="section-title">{{ 'onboarding.featured_products.title' | t }}</h4>

      <div class="home-featured-products-list collection-products uniform-layout {{settings.collection-product-text-style}}-style">

        {% for i in (1..3) %}
          <div class="product-list-item">
            <figure class="product-list-item-thumbnail">
              <a href="/admin/themes/{{ theme.id }}/settings">
                <img width="640"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPYvufQfwAHmAM12jbOLQAAAABJRU5ErkJggg==" alt="">
              </a>
            </figure>
            <div class="product-list-item-details">
              <p class="product-list-item-vendor vendor meta">{{ 'onboarding.featured_products.product_vendor' | t }}</p>
              <h3 class="product-list-item-title"><a href="/admin/themes/{{ theme.id }}/settings">{{ 'onboarding.featured_products.product_title' | t }}</a></h3>
              <p class="product-list-item-price">{{ 'onboarding.featured_products.product_price' | t }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}