{% if settings.home-video-embed != blank %}
<!--<div class="home-module rows-of-1">
<div class="home-module-content">
  <a href="https://www.youtube.com/user/YourPBfriend" target="_blank">
	<h4 class="section-title">Latest Videos</h4>
  </a>
</div>
</div>//-->
  <div class="home-module home-video {% unless settings.enable-sidebar %}{{ settings.home-video-width }}{% endunless %} text-color-{{ settings.home-video-text-color }}" style="background-color: #151515; padding: 10px 0px 10px 0px;">
    <div class="home-module-content">
<!--
	  <div class="home-video-play play-button-{{ settings.home-video-play-button-color }}"></div>


      <style>
          .embed-container {
              position: relative;
              padding-bottom: 56.25%;
              height: 0;
              overflow: hidden;
              max-width: 100%;
          }
          .embed-container iframe,
          .embed-container object,
          .embed-container embed {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
          }
      </style>
      <div class='embed-container'>
      	<iframe src='https://www.youtube.com/embed/{{ settings.home-video-embed }}?rel=0&amp;showinfo=0;controls=0' frameborder='0' allowfullscreen></iframe>
      </div>
//-->
      
      <div id="latestVidsContainer">
        <div id="latestUploadsContainer">
          <a href="https://www.youtube.com/user/YourPBfriend/videos" target="_blank" title="To YouTube!"><h4 class="section-title" style="margin: 0px; padding: 0px; color: white;">Latest Uploads</h4></a>
          <!--<iframe id="latestUploadsVideo" src="https://www.youtube.com/embed?max-results=1&amp;rel=0&amp;showinfo=0&amp;listType=user_uploads&amp;list=yourpbfriend&amp;modestbranding=0" frameborder="0" allowfullscreen></iframe>//-->
          <iframe id="latestUploadsVideo" class="wow fadeIn" data-wow-duration="3s" src="https://www.youtube.com/embed/videoseries?list=PL2YJBHemhpl7UdfAog_P0BXCBHhY-mC2c&amp;showinfo=0&amp;modestbranding=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="weeklyGunShowContainer">
          <a href="https://www.youtube.com/playlist?list=PL2YJBHemhpl5pV3mjregwpQv1IHzyg1RI" target="_blank" title="To YouTube!"><h4 class="section-title" style="margin: 0px; padding: 0px; color: white;">Weekly Gun Show</h4></a>
          <iframe id="weeklyGunShowVideo" class="wow fadeIn" data-wow-duration="3s" src="https://www.youtube.com/embed/videoseries?list=PL2YJBHemhpl5pV3mjregwpQv1IHzyg1RI&amp;showinfo=0&amp;modestbranding=0" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>

<!--
      <div class="home-video-embed-wrapper">
        <div class="home-video-embed">
          {{ settings.home-video-embed }}
        </div>
      </div>
     
      <div class="home-video-screenshot">
          <span class="home-video-play-button mobile meta">{{ 'general.home_page.video_button_text' | t }}</span>
          <img alt="" src="{{ 'home-video-screenshot.png' | asset_url }}">
      </div>
      <div class="home-video-content rte">

        <span class="home-video-play-button meta">{{ 'general.home_page.video_button_text' | t }}</span>

        {% if settings.home-video-title != blank %}
          <h2>{{ settings.home-video-title }}</h2>
        {% endif %}

        {% if settings.home-video-cta != blank and settings.home-video-url != blank %}
          <p><a class="button" href="{{ settings.home-video-url }}">{{ settings.home-video-cta }}</a></p>
        {% endif %}
      </div>//--->
    </div>
    <div id="toYouTube" class="wow fadeInUpBig" data-wow-delay="0.125s" data-wow-duration="1.3s">
      <span style="font-size: large;">Find <strong>more great videos</strong> on our YouTube channel!</span>
        <a href="https://www.youtube.com/user/YourPBfriend" target="_blank" title="To YouTube!"><input type="button" value="More Videos"/></a>
    </div>
  </div>
{% endif %}