<div class="product-form" style="padding-top: 0px;">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}">
  <form id="product-form" action="/cart/add" method="post" enctype="multipart/form-data">
    <div class="prodnotes">
      {% if product.selected_or_first_available_variant.inventory_quantity <= 0 and product.selected_or_first_available_variant.inventory_policy == 'continue' %}
        {% if product.tags contains 'Pre-Order' %}
        <p><input id="agree" type="checkbox" onclick="$( '#addToCart' ).prop( 'disabled', false );$( '#addToCart' ).removeClass( 'disabled' );$( '#agree' ).prop( 'disabled', true );"> <label for="agree" id="agreeTxt">I agree to the pre-order <a href="http://yourpbfriend.com/pages/custom-pre-orders" title="Read our pre-order terms">terms</a>.</label></p>
        {% elsif product.tags contains 'Back Order' %}
        <p><input id="agree" type="checkbox" onclick="$( '#addToCart' ).prop( 'disabled', false );$( '#addToCart' ).removeClass( 'disabled' );$( '#agree' ).prop( 'disabled', true );"> <label for="agree" id="agreeTxt">I am aware that this item is back-ordered.</label></p>
        {% elsif product.tags contains 'Custom Order' %}
        <p><input id="agree" type="checkbox" onclick="$( '#addToCart' ).prop( 'disabled', false );$( '#addToCart' ).removeClass( 'disabled' );$( '#agree' ).prop( 'disabled', true );"> <label for="agree" id="agreeTxt">I agree to the custom order <a href="http://yourpbfriend.com/pages/custom-pre-orders" title="Read our custom order terms">terms</a>.</label></p>
        {% endif %}
      {% endif %}

      {% if product.tags contains 'Limited' %}
          <p>Limited availability item. Please call us for availability before ordering!</p>
      {% endif %}
      {% if product.tags contains 'Color Swap' %}
          <p> This is a swap between two items, which means this item will most likely take longer than normal to fulfill.</p>
      {% endif %}
      {% if product.tags contains 'Holiday Shipping' %}
          <p>Shipping time may be longer than normal due to holiday sales.</p>
      {% endif %}
      
      {% if product.selected_or_first_available_variant.inventory_quantity <= 0 and product.selected_or_first_available_variant.inventory_policy == 'deny' and product.tags contains 'Archive' %}
      	{% comment %}Archived{% endcomment %}
     	<p class="usualship" style="color: red;">Archived/Discontinued product.</p>
      {% else %}
      	<p class="usualship">
      		{% include 'shiptime-product' %}
      	</p>
      {% endif %}
      
      
	  Free U.S. shipping on all orders. No minimum!<br>
	  Free shipping outside of the U.S. on orders above $1000.<br>
	  <a href="/pages/shipping#exclusions"><small><span style="font-style: italic;">Exclusions Apply</span></small></a>
  	</div>
    
    <div class="product-options">
      <select name="id" id="product-variants">
        {% for variant in product.variants %}
        <!-- Bold: CSP 5 (for variant) -->
{% include 'boldcsp_helper' with 'variants' %}
<!-- // end bold code -->
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
        {% endfor %}
      </select>
      {% comment %}
      <div class="input-wrapper">
        <label>Text Example</label>
        <input type="text" name="properties[Name]">
      </div>
      <div class="input-wrapper">
        <label>File Example</label>
        <input type="file" name="properties[File]">
      </div>
      {% endcomment %}
    </div>
    {% if settings.enable-product-quantity %}
      <div class="product-quantity">
        <div class="input-wrapper">
          <label for="quantity">{{ 'general.quantity' | t }}</label>
          <input type="text" name="quantity" id="quantity" value="1" />
        </div>
      </div>
    {% endif %}
    <div class="product-submit" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span class="product-price">
        <span class="product-price-minimum money" itemprop="price">
          {{ variant.price | money }}
        </span>
        <span class="product-price-compare money">
          {% if variant.compare_at_price_min > variant.price_min %}
            {{ variant.compare_at_price_min | money }}
          {% endif %}
        </span>
      </span>
      {% if variant.available %}
        {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
          <input class="add-to-cart" id="addToCart" type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
          <link itemprop="availability" href="http://schema.org/InStock">
        {% elsif product.tags contains 'Pre-Order' %}
          <input class="red disabled" id="addToCart" type="submit" value="{{ 'products.product.pre_order' | t }}" disabled="disabled"/>
          <link itemprop="availability" href="http://schema.org/PreOrder">
        {% elsif product.tags contains 'Custom Order' %}
          <input class="teal disabled" id="addToCart" type="submit" value="{{ 'products.product.custom_order' | t }}" disabled="disabled"/>
          <link itemprop="availability" href="http://schema.org/InStock">
        {% elsif product.tags contains 'Back Order' %}
          <input class="teal disabled" id="addToCart" type="submit" value="{{ 'products.product.back_order' | t }}" disabled="disabled"/>
          <link itemprop="availability" href="http://schema.org/OutOfStock">
        {% else %}
          <input class="add-to-cart" id="addToCart" type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
          <link itemprop="availability" href="http://schema.org/InStock">
        {% endif %}
      {% else %}
      		{% if product.tags contains 'Pre-Order' %}
                <input type="button" class="disabled" id="addToCartDsbld" value="{{ 'products.product.unavailable' | t }}" disabled="disabled"/>
        		<link itemprop="availability" href="http://schema.org/PreOrder">
            {% elsif product.tags contains 'Back Order' %}
                <input type="button" class="disabled" id="addToCartDsbld" value="{{ 'products.product.unavailable' | t }}" disabled="disabled"/>
        		<link itemprop="availability" href="http://schema.org/OutOfStock">
			{% else %}
                <input type="button" class="disabled" id="addToCartDsbld" value="{{ 'products.product.sold_out' | t }}" disabled="disabled"/>
                <link itemprop="availability" href="http://schema.org/OutOfStock">
      		{% endif %}
      {% endif %}
      
      {% if product.type == 'Marker' or product.type == 'Gun' %}
      	<a href="http://yourpbfriend.com/pages/trade-in" title="Let's trade!"><input type="button" value="{{ 'products.product.trade_towards' | t }}" /></a>
      {% endif %}
    </div>
  </form>
</div>