<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 lt-ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  
  {% comment %} == Title ======================================= {% endcomment %}
  <title>
    {{ page_title }}
    {% if current_tags %}
      &ndash; {{ 'blogs.blog.seo_title' | t }} "{{ current_tags | join: ', ' }}"
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {% endif %}
  </title>
    
  
  {% comment %} == META ======================================= {% endcomment %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% capture protocol %}{{ 'reset.css' | asset_url | truncate: 5, '' }}{% endcapture %}
  {% if protocol =='https' %}<meta name="robots" content="noindex, follow" />{% endif %}
  {% if template contains 'page.nofollow' %}<meta name="robots" content="noindex">{% endif %}
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  {% if template contains 'index' %}
    <meta name="google-site-verification" content="GBKzMQ1rE7FUqqwiOZV1-nLnJC5SuEfI7cbQvzUDQv0" />
    <meta name="msvalidate.01" content="ACA0CE5C9B4A929A69729E2E7D41B8D2" />
  {% endif %}
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />
  {% include 'social-meta' %}
  
  {% comment %} == CSS ======================================= {% endcomment %}
  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% if settings.custom-css != blank %}
    <!-- Custom CSS -->
    <style>
      {{ settings.custom-css }}
    </style>
  {% endif %}
  
  {% comment %} == Javascript ======================================= {% endcomment %}
  {{ content_for_header }}
  <script>
    {% comment %}
    var today = new Date(); // Today's Date

    // Important Dates
    var December1st = new Date(2016, 11, 1);// 12/1/2016
    var NewYearsEve = new Date(2017, 0, 1, 0, 0, 0);// 1/1/2017 00:00:00
    var WeekAfterNY = new Date(2017, 0, 13, 0, 0, 0);// 1/13/2017 00:00:00
	{% endcomment %}    
    
    {% if template contains 'product' %}
    	var prodHand = "{{ product.handle }}";
    {% endif %}

  </script>
  <!-- Add media query support to IE8 -->
  <!--[if lt IE 9]>
  <script src="{{ 'respond.min.js' | asset_url }}"></script>
  <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
  {% assign respond_js_secret_key = shop.domain | md5 %}
  <link href="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
  <script src="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->
  <!-- Theme object -->
  {% include 'theme-options' %}

</head>

{% comment %} == Sidebar ======================================= {% endcomment %}
{% assign sidebar = false %}
{% if settings.enable-sidebar == 'all' %}
  {% if template contains 'index' %}
    {% assign sidebar = true %}
  {% elsif template contains 'collection' %}
    {% assign sidebar = true %}
  {% endif %}
{% elsif settings.enable-sidebar == 'not-home' and template contains 'collection' %}
  {% assign sidebar = true %}
{% endif %}

<body class="{% if customer %}customer-logged-in{% endif %} sidebar-{% if sidebar %}enabled{% else %}disabled{% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  
  {% include 'header' %}
  
  <div class="main-content-wrapper">
    {% unless template contains 'index' %}
      <div class="page-header">
        {% include 'page-header' %}
      </div>
    {% endunless %}
    <div class="main-content">
      {{ content_for_layout }}
    </div>
    {% if sidebar %}
      {% include 'sidebar' %}
    {% endif %}
  </div>
  {% include 'footer' %}



{% comment %} == Scripts ======================================= {% endcomment %}
  {{ 'scripts-combined.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {% if template contains 'cart' %}
    {% if settings.cart-shipping-calculator %}
      {{ "https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" | script_tag }}
      {{ "/services/javascripts/countries.js" | script_tag }}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {% endif %}
    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  {% if settings.enable-currency-switcher %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {{ "jquery.currencies.js" | asset_url | script_tag }}
  {% endif %}
  {% if template contains 'product' %}
  	{% comment %}option_selection.js replaced by modified version below{% endcomment %}
    {% comment %}{{ 'option_selection.js' | shopify_asset_url | script_tag }}{% endcomment %}
  	<script>
    	{% comment %} The modified and minified version of option_selection.js to include stock updates on product pages. The modified non-minified version can all so be found at option_selection.js for further customization. {% endcomment %}
  		function floatToString(t,e){var o=t.toFixed(e).toString();return o.match(/^\.\d+/)?"0"+o:o}"undefined"==typeof window.Shopify&&(window.Shopify={}),Shopify.each=function(t,e){for(var o=0;o<t.length;o++)e(t[o],o)},Shopify.map=function(t,e){for(var o=[],i=0;i<t.length;i++)o.push(e(t[i],i));return o},Shopify.arrayIncludes=function(t,e){for(var o=0;o<t.length;o++)if(t[o]==e)return!0;return!1},Shopify.uniq=function(t){for(var e=[],o=0;o<t.length;o++)Shopify.arrayIncludes(e,t[o])||e.push(t[o]);return e},Shopify.isDefined=function(t){return"undefined"==typeof t?!1:!0},Shopify.getClass=function(t){return Object.prototype.toString.call(t).slice(8,-1)},Shopify.extend=function(t,e){function o(){}o.prototype=e.prototype,t.prototype=new o,t.prototype.constructor=t,t.baseConstructor=e,t.superClass=e.prototype},Shopify.locationSearch=function(){return window.location.search},Shopify.locationHash=function(){return window.location.hash},Shopify.replaceState=function(t){window.history.replaceState({},document.title,t)},Shopify.urlParam=function(t){var e=RegExp("[?&]"+t+"=([^&#]*)").exec(Shopify.locationSearch());return e&&decodeURIComponent(e[1].replace(/\+/g," "))},Shopify.newState=function(t,e){var o;return o=Shopify.urlParam(t)?Shopify.locationSearch().replace(RegExp("("+t+"=)[^&#]+"),"$1"+e):""===Shopify.locationSearch()?"?"+t+"="+e:Shopify.locationSearch()+"&"+t+"="+e,o+Shopify.locationHash()},Shopify.setParam=function(t,e){Shopify.replaceState(Shopify.newState(t,e))},Shopify.Product=function(t){Shopify.isDefined(t)&&this.update(t)},Shopify.Product.prototype.update=function(t){for(property in t)this[property]=t[property]},Shopify.Product.prototype.optionNames=function(){return"Array"==Shopify.getClass(this.options)?this.options:[]},Shopify.Product.prototype.optionValues=function(t){if(!Shopify.isDefined(this.variants))return null;var e=Shopify.map(this.variants,function(e){var o="option"+(t+1);return void 0==e[o]?null:e[o]});return null==e[0]?null:Shopify.uniq(e)},Shopify.Product.prototype.getVariant=function(t){var e=null;return t.length!=this.options.length?e:(Shopify.each(this.variants,function(o){for(var i=!0,r=0;r<t.length;r++){var n="option"+(r+1);o[n]!=t[r]&&(i=!1)}return 1==i?void(e=o):void 0}),e)},Shopify.Product.prototype.getVariantById=function(t){for(var e=0;e<this.variants.length;e++){var o=this.variants[e];if(t==o.id)return o}return null},Shopify.money_format="${{amount}}",Shopify.formatMoney=function(t,e){function o(t,e){return"undefined"==typeof t?e:t}function i(t,e,i,r){if(e=o(e,2),i=o(i,","),r=o(r,"."),isNaN(t)||null==t)return 0;t=(t/100).toFixed(e);var n=t.split("."),a=n[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g,"$1"+i),s=n[1]?r+n[1]:"";return a+s}"string"==typeof t&&(t=t.replace(".",""));var r="",n=/\{\{\s*(\w+)\s*\}\}/,a=e||this.money_format;switch(a.match(n)[1]){case"amount":r=i(t,2);break;case"amount_no_decimals":r=i(t,0);break;case"amount_with_comma_separator":r=i(t,2,".",",");break;case"amount_no_decimals_with_comma_separator":r=i(t,0,".",",");break;case"amount_no_decimals_with_space_separator":r=i(t,0," ")}return a.replace(n,r)},Shopify.OptionSelectors=function(t,e){return this.selectorDivClass="selector-wrapper",this.selectorClass="single-option-selector",this.variantIdFieldIdSuffix="-variant-id",this.variantIdField=null,this.historyState=null,this.selectors=[],this.domIdPrefix=t,this.product=new Shopify.Product(e.product),this.onVariantSelected=Shopify.isDefined(e.onVariantSelected)?e.onVariantSelected:function(){},this.replaceSelector(t),this.initDropdown(),e.enableHistoryState&&(this.historyState=new Shopify.OptionSelectors.HistoryState(this)),!0},Shopify.OptionSelectors.prototype.initDropdown=function(){var t={initialLoad:!0},e=this.selectVariantFromDropdown(t);if(!e){var o=this;setTimeout(function(){o.selectVariantFromParams(t)||o.fireOnChangeForFirstDropdown.call(o,t)})}},Shopify.OptionSelectors.prototype.fireOnChangeForFirstDropdown=function(t){this.selectors[0].element.onchange(t)},Shopify.OptionSelectors.prototype.selectVariantFromParamsOrDropdown=function(t){var e=this.selectVariantFromParams(t);e||this.selectVariantFromDropdown(t)},Shopify.OptionSelectors.prototype.replaceSelector=function(t){var e=document.getElementById(t),o=e.parentNode;Shopify.each(this.buildSelectors(),function(t){o.insertBefore(t,e)}),e.style.display="none",this.variantIdField=e},Shopify.OptionSelectors.prototype.selectVariantFromDropdown=function(t){var e=document.getElementById(this.domIdPrefix).querySelector("[selected]");if(e||(e=document.getElementById(this.domIdPrefix).querySelector('[selected="selected"]')),!e)return!1;var o=e.value;return this.selectVariant(o,t)},Shopify.OptionSelectors.prototype.selectVariantFromParams=function(t){var e=Shopify.urlParam("variant");return this.selectVariant(e,t)},Shopify.OptionSelectors.prototype.selectVariant=function(t,e){var o=this.product.getVariantById(t);if(null==o)return!1;for(var i=0;i<this.selectors.length;i++){var r=this.selectors[i].element,n=r.getAttribute("data-option"),a=o[n];null!=a&&this.optionExistInSelect(r,a)&&(r.value=a)}return"undefined"!=typeof jQuery?jQuery(this.selectors[0].element).trigger("change",e):this.selectors[0].element.onchange(e),!0},Shopify.OptionSelectors.prototype.optionExistInSelect=function(t,e){for(var o=0;o<t.options.length;o++)if(t.options[o].value==e)return!0},Shopify.OptionSelectors.prototype.insertSelectors=function(t,e){Shopify.isDefined(e)&&this.setMessageElement(e),this.domIdPrefix="product-"+this.product.id+"-variant-selector";var o=document.getElementById(t);Shopify.each(this.buildSelectors(),function(t){o.appendChild(t)})},Shopify.OptionSelectors.prototype.buildSelectors=function(){for(var t=0;t<this.product.optionNames().length;t++){var e=new Shopify.SingleOptionSelector(this,t,this.product.optionNames()[t],this.product.optionValues(t));e.element.disabled=!1,this.selectors.push(e)}var o=this.selectorDivClass,i=this.product.optionNames(),r=Shopify.map(this.selectors,function(t){var e=document.createElement("div");if(e.setAttribute("class",o),i.length>1){var r=document.createElement("label");r.htmlFor=t.element.id,r.innerHTML=t.name,e.appendChild(r)}return e.appendChild(t.element),e});return r},Shopify.OptionSelectors.prototype.selectedValues=function(){for(var t=[],e=0;e<this.selectors.length;e++){var o=this.selectors[e].element.value;t.push(o)}return t},Shopify.OptionSelectors.prototype.updateSelectors=function(t,e){var o=this.selectedValues(),i=this.product.getVariant(o);i?(this.variantIdField.disabled=!1,this.variantIdField.value=i.id):this.variantIdField.disabled=!0,this.onVariantSelected(i,this,e),null!=this.historyState&&this.historyState.onVariantChange(i,this,e)},Shopify.OptionSelectorsFromDOM=function(t,e){var o=e.optionNames||[],i=e.priceFieldExists||!0,r=e.delimiter||"/",n=this.createProductFromSelector(t,o,i,r);e.product=n,Shopify.OptionSelectorsFromDOM.baseConstructor.call(this,t,e)},Shopify.extend(Shopify.OptionSelectorsFromDOM,Shopify.OptionSelectors),Shopify.OptionSelectorsFromDOM.prototype.createProductFromSelector=function(t,e,o,i){if(!Shopify.isDefined(o))var o=!0;if(!Shopify.isDefined(i))var i="/";var r=document.getElementById(t),n=r.childNodes,a=(r.parentNode,e.length),s=[];Shopify.each(n,function(t,r){if(1==t.nodeType&&"option"==t.tagName.toLowerCase()){var n=t.innerHTML.split(new RegExp("\\s*\\"+i+"\\s*"));0==e.length&&(a=n.length-(o?1:0));var p=n.slice(0,a),l=o?n[a]:"",c=(t.getAttribute("value"),{available:t.disabled?!1:!0,id:parseFloat(t.value),price:l,option1:p[0],option2:p[1],option3:p[2]});s.push(c)}});var p={variants:s};if(0==e.length){p.options=[];for(var l=0;a>l;l++)p.options[l]="option "+(l+1)}else p.options=e;return p},Shopify.SingleOptionSelector=function(t,e,o,i){this.multiSelector=t,this.values=i,this.index=e,this.name=o,this.element=document.createElement("select");for(var r=0;r<i.length;r++){var n=document.createElement("option");n.value=i[r],n.innerHTML=i[r],this.element.appendChild(n)}return this.element.setAttribute("class",this.multiSelector.selectorClass),this.element.setAttribute("data-option","option"+(e+1)),this.element.id=t.domIdPrefix+"-option-"+e,this.element.onchange=function(o,i){i=i||{},t.updateSelectors(e,i)},!0},Shopify.Image={preload:function(t,e){for(var o=0;o<t.length;o++){var i=t[o];this.loadImage(this.getSizedImageUrl(i,e))}},loadImage:function(t){(new Image).src=t},switchImage:function(t,e,o){if(t&&e){var i=this.imageSize(e.src),r=this.getSizedImageUrl(t.src,i);o?o(r,t,e):e.src=r}},imageSize:function(t){var e=t.match(/_(1024x1024|2048x2048|pico|icon|thumb|small|compact|medium|large|grande)\./);return null!=e?e[1]:null},getSizedImageUrl:function(t,e){if(null==e)return t;if("master"==e)return this.removeProtocol(t);var o=t.match(/\.(jpg|jpeg|gif|png|bmp|bitmap|tiff|tif)(\?v=\d+)?$/i);if(null!=o){var i=t.split(o[0]),r=o[0];return this.removeProtocol(i[0]+"_"+e+r)}return null},removeProtocol:function(t){return t.replace(/http(s)?:/,"")}},Shopify.OptionSelectors.HistoryState=function(t){this.browserSupports()&&this.register(t)},Shopify.OptionSelectors.HistoryState.prototype.register=function(t){window.addEventListener("popstate",function(e){t.selectVariantFromParamsOrDropdown({popStateCall:!0})})},Shopify.OptionSelectors.HistoryState.prototype.onVariantChange=function(t,e,o){jQuery.getJSON("/products/"+prodHand+".js",function(t){updateInv(t)}),this.browserSupports()&&(!t||o.initialLoad||o.popStateCall||Shopify.setParam("variant",t.id))},Shopify.OptionSelectors.HistoryState.prototype.browserSupports=function(){return window.history&&window.history.replaceState};
        
	  	{% comment %}Update Inventory: Refer to update-inventory.js for no minified code.{% endcomment %}
    	function tagExists(a,t){for(i=0;i<a.tags.length;i++)if(t==a.tags[i])return!0;return!1}function updateInv(a){console.log("updating stock...");var t=$.urlParam("variant"),n=0;if(tagExists(a,"Archive"))return void $(".prodship").remove();if(null!==t)for(i=0;i<a.variants.length;i++)if(a.variants[i].id==t){n=i;break}if(a.available){a.variants[n].inventory_quantity<11&&a.variants[n].inventory_quantity>1?($(".prodinv").removeClass("red").addClass("green"),$(".prodinv").html(a.variants[n].inventory_quantity+" in stock.")):1==a.variants[n].inventory_quantity?($(".prodinv").removeClass("red").addClass("green"),$(".prodinv").html("Only 1 in stock.")):a.variants[n].inventory_quantity<=0&&(tagExists(a,"Pre-Order")||tagExists(a,"Back Order")||tagExists(a,"Custom Order"))?($(".prodinv").removeClass("red").addClass("green"),$(".prodinv").html("Available to order.")):($(".prodinv").removeClass("red").addClass("green"),$(".prodinv").html("In stock.")),$("#variant-sku").html(a.variants[n].sku);var e=!1;if(tagExists(a,"Pre-Order")&&"continue"==a.variants[n].inventory_policy){for(i=0;i<a.tags.length;i++)if(-1!=a.tags[i].indexOf("Releases ")){var r=a.tags[i];r=r.replace("Releases ",""),$(".prodhand").html("Releases: "+r),e=!0;break}0==e&&$(".prodhand").html("Releases: Call For More Info")}else if(tagExists(a,"Back Order")&&"continue"==a.variants[n].inventory_policy){for(i=0;i<a.tags.length;i++)if(-1!=a.tags[i].indexOf("Back In Stock ")){var r=a.tags[i];r=r.replace("Back In Stock ",""),$(".prodhand").html("Back In Stock: "+r),e=!0;break}0==e&&$(".prodhand").html("Back In Stock: Call For More Info")}else if(tagExists(a,"Used Guns")&&a.variants[n].inventory_quantity>=1||a.variants[n].inventory_quantity>=1)$(".prodhand").html("Estimated handling time: 1-2 business days.");else if(tagExists(a,"Call For"))$(".prodhand").html("Call for shipping & handling time.");else if(a.variants[n].inventory_quantity<=0&&"continue"==a.variants[n].inventory_policy){var s=!1;for(i=0;i<a.tags.length;i++)if(-1!=a.tags[i].indexOf("Hours ")||-1!=a.tags[i].indexOf("Days ")||-1!=a.tags[i].indexOf("Weeks ")||-1!=a.tags[i].indexOf("Months ")||-1!=a.tags[i].indexOf("Years ")){$(".prodhand").html("Estimated handling time: "+a.tags[i]),s=!0;break}0==s&&$(".prodhand").html("Estimated handling time: 3-4 business days.")}else $(".prodship").remove()}else $(".prodship").remove()}jQuery.getJSON("/products/"+prodHand+".js",function(i){updateInv(i)});
 	</script>
  {% endif %}

{% comment %} == Style ======================================= {% endcomment %}
  <style>
    {% comment %} Livesearch style tweaks which remove the branding without having to pay to have it removed (cheap hacks). {% endcomment %}
    .ls-footer>.ls-poweredby{display:none;}.ls-footer.ls-poweredby{width:0%;}.ls-footer{width:100%;}.ls-dropdown-menu{margin-top:-2px;}
  </style>

{% include 'zopim' %}

</body>
</html>