{% if cart.item_count > 0 %}
  <form action="/cart" method="post">
    <table class="cart-items clean {% if settings.disable-ajax or settings.enable-currency-switcher %}no-ajax{% endif %}">
      <thead>
        <tr>
          <th class="first">{{ 'general.product' | t }}</th>
          <th>{{ 'general.price' | t }}</th>
          <th>{{ 'general.quantity' | t }}</th>
          <th class="last">{{ 'general.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="cart-item variant-{{ item.variant.id }}" data-variant="{{ item.variant.id }}" data-title="{{ item.product.title }}" data-url="{{ item.product.url }}">
            <td class="cart-item-product first">
              <a class="cart-item-image" href="{{ item.product.url }}">
                <img alt="{{ item.image.alt | escape }}" src="{{ item | img_url: 'medium' }}">
              </a>
              <span class="cart-item-vendor vendor">{{ item.vendor | link_to_vendor }}</span>
              <span class="cart-item-title">{{ item.product.title | link_to: item.product.url }}</span>
              {% for option in item.variant.options %}
                {% unless option == 'Default Title' %}
                  <span class="cart-item-option">{{ option }}</span>
                {% endunless %}
              {% endfor %}
              
              <span class="cart-item-option" style="font-weight: 600;">
				{% include 'shiptime-item' %}
              </span>
              
              {% if item.product.selected_or_first_available_variant.inventory_quantity <= 0 and item.product.selected_or_first_available_variant.inventory_policy == 'continue' %}
                {% if item.product.tags contains 'Pre-Order' %}
                  <span class="cart-item-option" style="color: red; font-weight: 600;">Pre-Order Item - Ordering this indicates you agree to our <a href="http://yourpbfriend.com/pages/custom-pre-orders" title="Read our pre-order terms">terms</a>.</span>
                {% elsif item.product.tags contains 'Custom Order' %}
                  <span class="cart-item-option" style="color: red; font-weight: 600;">Custom Order - Ordering this indicates you agree to our <a href="http://yourpbfriend.com/pages/custom-pre-orders" title="Read our custom order terms">terms</a>.</span>
                {% elsif item.product.tags contains 'Back Order' %}
                  <span class="cart-item-option" style="color: red; font-weight: 600;">Back Order - Ordering this indicates that you're aware this is back-ordered.</span>
                {% endif %}
              {% endif %}
              
              {% if item.properties.size > 0 %}
                <div class="cart-line-item-properties">
                  {% for property in item.properties %}
                    {% if property.last != blank %}
                      <span class="cart-item-property">
                        <strong>{{ property.first }}</strong>:
                        {% if property.last contains "/uploads/" %}
                          <span class="cart-item-property-value cart-item-upload" data-file="{{ property.last }}">{{ property.last | split: '/' | last }}</span>
                        {% else %}
                          <span class="cart-item-property-value">{{ property.last }}</span>
                        {% endif %}
                      </span>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
              {% if settings.disable-ajax or settings.enable-currency-switcher %}
                <a class="cart-item-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">&#57360;</a>
              {% endif %}
            </td>
            <td class="cart-item-price"><span class="money">{{ item.price | money }}</span></td>
            <td class="cart-item-quantity" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %}data-max="{{ item.variant.inventory_quantity }}"{% endunless %}>
              <input class="cart-item-quantity-display" type="text" name="updates[]" value="{{ item.quantity }}" size="1">
              <span class="cart-item-decrease">&#57365;</span><span class="cart-item-increase">&#57366;</span>
            </td>
            <td class="cart-item-total last"><span class="money">{{ item.quantity | times: item.price | money }}</span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if settings.cart-special-instructions or settings.shipping-calculator %}
      <div class="cart-tools">
        {% if settings.cart-special-instructions %}
          <div class="cart-instructions">
            <p>{{ 'cart.special_instructions' | t }}</p>
            <textarea name="note" rows="4">{{ cart.note }}</textarea>
          </div>
        {% endif %}
        {% if settings.cart-shipping-calculator and cart.requires_shipping %}
          {% include 'shipping-calculator' %}
        {% endif %}
      </div>
    {% endif %}
    <div class="cart-checkout">
      <p class="cart-message">
        {% include 'salesrep' %}
      </p>
      <p class="cart-price"><span class="money">{{ cart.total_price | money }}</span></p>
      <p class="cart-message"><em>{{ 'cart.tax_and_shipping' | t }}</em></p>
      {% if settings.disable-ajax or settings.enable-currency-switcher %}
        <input type="submit" name="update" value="{{ 'cart.update' | t }}" class="secondary">
        <input type="submit" name="checkout" value="{{ 'cart.submit' | t }}">
      {% else %}
        <a class="cart-checkout-button button" href="/checkout">{{ 'cart.submit' | t }}</a>
      {% endif %}
      {% if additional_checkout_buttons %}
        <div class="cart-additional-buttons">
          {{ content_for_additional_checkout_buttons }}
        </div>
      {% endif %}
    </div>
  </form>
{% else %}
  <p class="cart-empty-message">{{ 'cart.empty' | t }}</p>
{% endif %}